{{define "footer"}}

<ul class="footer-ul">
  <li><a href="/">nahraj</a>
  <li><a href="/images">všechny fotky</a>
  <li><a href="/slideshow">slideshow - vše</a>
  <li><a href="/slideshow?type=latest">slideshow - nejnovější</a>
  <li><a href="/slideshow?type=friends">slideshow - nahrané</a>
  <li><a href="/slideshow?type=children">slideshow - dětské</a>
  <li><a href="/slideshow?type=smart">slideshow - smart</a>
</ul>

</body>
</html>
{{end}}