{{define "slideshow"}}
<!DOCTYPE html>
<html class="slideshow-html">
<head>
  <title>{{.title}}</title>
  <link rel="stylesheet" href="/style.css">
  <script src="/jquery.js"></script>
  <script src="/script.js"></script>
</head>
<body class="slideshow-body">
  <div id="slideshow"><img></div>
</body>
</html>
{{end}}